
# Ignore Hive server volume folder
src/hadoop/docker-hadoop/hive_worldnews_data/

# Ignore hive-metastore-postgresql volume folder
src/hadoop/docker-hadoop/metastore-postgresql/postgresql/data

# Ignore airflow related folders
src/airflow/docker-airflow/.env
src/airflow/docker-airflow/dags/.env 
src/airflow/docker-airflow/logs/
src/airflow/docker-airflow/dags/__pycache__

#These two files got automatically added in this path, for now ignoring it, will check if it creates issue in future 
src/airflow/docker-airflow/airflow.cfg
src/airflow/docker-airflow/airflow.db